@import './common.scss';
@import './var.scss';

.bar-win {
    background-color: transparent;
}

.bar button {
    @include unset;
}

.bar label {
    color: $txt-color;
}

.bar {
    min-height: $bar-height;
    padding-top: 2px;
    padding-bottom: 2px;
}

.center > *, .right > * {
    margin-left: 10px;
    margin-right: 10px;
}

// bar elements
.state-circle, .sys-state, .systray, .volume-slider, .win-title, .workspace, 
.player, .clock {
    background-color: $bg-color;
}

// sys state
.sys-state {
    border-radius: 50%;
}

.state-circle {
    font-size: 6px;
    margin: 0.2rem;
    min-width: $bar-height;
    background-color: transparent;
}

.sys-state * {
    transition-property: opacity;
    @include user-hover-transition;
}

.state-label {
    font-size: 1rem;
    opacity: 0;
}

.state-label.hover {
    opacity: 1;
}

.state-icons {
    opacity: 1;
}

.state-icons.hover {
    opacity: 0.3;
}

//  volume slider
.volume-slider {
    border-radius: 50%;
}

.volume-slider * {
    transition-property: opacity;
    @include user-hover-transition;
}

.volume-label {
    opacity: 0;
}

.volume-label.hover {
    opacity: 1;
}

.volume-icon {
    opacity: 1;
}

.volume-icon.hover {
    opacity: 0.3;
}

// win title name
.win-title {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 114px;
    border-bottom-right-radius: 114px;
    padding-left: 4px;
    padding-right: 18px;
}

.win-title .class {
    @include secondary;
}

.win-title-box:hover .class {
    @include primary;
}

.win-title .title {
    @include primary;
}

.win-title-box:hover .title {
    @include secondary;
}

.win-title * {
    transition-property: font-size;
    @include user-hover-transition;
}

// bar center

// .bar .center {
    
// }

// workspaces

.workspace {
    padding: 0;
    border-radius: 114px
}
.workspace .item:first-child {
    margin-left: $edge-dist;
}
.workspace .item:last-child {
    margin-right: $edge-dist;
}

.workspace .item {
    margin-top: 0;
    min-width: 1.8rem;
    min-height: $bar-height;
    margin-left: 1px;
    margin-right: 1px;
    @include state-transition;
    transition-property: box-shadow;
}
.workspace .item .label {
    font-size: 1rem;
    @include state-transition;
    transition-property: padding-bottom;
    color: $unhover-color;
}

.workspace .item:hover {
    @include bottom-shadow;
}
.workspace .item:hover .label {
    color: $txt-color;
}

.workspace .item.active {
    @include bottom-shadow(rgba($color: $unhover-color, $alpha: 0.6));
}
.workspace .item.active:hover {
    @include bottom-shadow;
}

.workspace .item.current {
    @include bottom-shadow;
}
.workspace .item.current .label {
    color: $txt-color;
    padding-bottom: 0.3rem;
}

// music bar

.player {
    min-height: $bar-height;
    padding-left: 0;
    padding-right: 0;
    border-radius: 114px;
}

.player .info {
    min-width: 18rem;
    margin-right: $edge-dist;
}

.player .cover-box {
    padding: 0.2rem;
}

.player .state-circle {
    font-size: 0.2rem;
    min-width: 0;
    margin: 0;
}

.player .cover {
    border-radius: 50%;
    min-width: 1.8rem;
    min-height: 1.8rem;
    margin: 0.25rem;
    background-size: cover;
    background-position: center;
}

.player .title-box {
    min-width: 12rem;
}

.player .title {
    font-weight: bold;
    font-size: 1.1rem;
}

.player .artists-box {
    min-width: 8rem;
}

.player .artists {
    font-size: 1rem;
}

.player .separator {
    min-width: 40px;
    color: greenyellow;
}

.player .control button {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

// system tray
.systray {
    border-radius: 114px;
    padding-left: $edge-dist;
    padding-right: $edge-dist;
}

.systray .item {
    @include user-hover-transition;
    transition-property: box-shadow, padding-bottom;
    margin-left: 1px;
    margin-right: 1px;
    min-width: 1.6rem;
    min-width: 1.6rem;
    @include bottom-shadow(rgba($color: $unhover-color, $alpha: 0.6));
}

.systray .item:hover {
    @include bottom-shadow;
    padding-bottom: 0.5rem;
}

// clock
.clock {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 114px;
    border-bottom-left-radius: 114px;
    padding-right: 4px;
    margin-right: 0;
    padding-left: $edge-dist;
}